.horror {
    text-align: center;
    background-color: red;
    padding: 10px;
}

.action {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}

.comedy {
    text-align: center;
    background-color: blue;
    padding: 10px;
}



.recommend {
    padding: 10px;
}